.card{
  border: 1px solid black;
  width: 250px;
  height: 370px;

  display: flex;
  flex-direction: column;
  background-color: #232323 ;
  border-radius: 10px;
}

.card__title{
  display: flex;
  justify-content: center;
  align-items: center;

    h1{
    color: #fff;
    text-transform: capitalize;
    }
}

.card__body{
  background-color: #616161;
  width: 87%;
  margin: 0 1rem 0 1rem;
  height: 67%;
  border-radius: 5px;

  img {
    width: 100%;
  }

}

.card__stats{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 13px;
  padding-top: 12px;

  span{
    color: #383131;
    font-weight: bold;
    background-color: #ff7f50;
    padding: 6px;
    border-radius: 10px;
    margin-right: 10px;
    text-transform: capitalize;
  }
}