<section class="card_search">
  <h1>Pokedex</h1>
  <!-- caso queira digitar e ele pesquisa automatico usar o input (click)="getPokemon($any($event.target).value)" -->
  <div>
    <input type="text" #searchName placeholder="Digite seu pokemon" >
    <button (click)="getPokemon(searchName.value)">Search</button>
  </div>
</section>
<main>
  <section *ngFor="let pokemon of pokemons" class="card">
    <ul >
      <div class="card__title">
        <h1>{{ pokemon.name }}</h1>
        <h2>{{ pokemon.id }}</h2>
      </div>
      <div class="card__body">
        <img [src]="infoPokemons.sprites.front_default" alt="pokemon">
      </div>
      <div class="card__stats">
        <span class="card__stats__type" *ngFor="let t of infoPokemons.types">
          {{ t.type.name }}</span>
        </div>
      </ul>
    </section>
    </main>
    <section class="pagination">
  <button  id="loadMore" type="button">
    Load More
  </button>
</section>